{% extends "layout.html" %}

{% block head %}
  <title>  My Webpage </title>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <a href="#" class = "navbar-brand">ReviewBooks</a>
        <form class="form-inline ml-auto" action="{{ url_for('logout') }}" method="GET">
          <button class ="btn btn-warning" type="logout">logout</button>
        </form>
    </nav>

    <div class="container pt-5">
      <h4>Search for books:</h4>
      <row>
        <form id="data_form" class="form-inline" action ="{{url_for('search')}}" method="POST">
          <div class="form-group">
            <label for="sel1">Search by:</label>
            <select class="form-control" name = "search_option" id="sel1">
              <option value = "title">Title</option>
              <option value = "author">Author</option>
              <option value = "year" >Year</option>
              <option value = "isbn" >Isbn</option>
            </select>
          </div>
          <div class="form-group w-50">
            <input class="form-control w-100" type="text" name="search" placeholder="Search" id = "search">
          </div>
          <button class="btn btn-success" type="submit" name="search">Search</button>
        </form>
      </row>
    </div>



{% endblock %}
